.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.img{
  float: left;
  margin: 0 10px 10px 0;
}
.imgPanel button{
  padding: .15rem .2rem !important;
  font-size: .475rem !important;
}




.bg {
    background: url(/img/23.png) no-repeat;
    background-size: auto;
    background-attachment: scroll;
    background-position: top;
	background-color: #f2f2f2;
}


.wrapper {
	display: flex;
    flex-direction: column;
    height: 100%;
	}
/*LOGIN*/

.login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.headline {
  margin-bottom: 15px;
}
div.App div.row div.main{
  border-left: dotted 5px #4abde5;
}

.closeModal{
  float: left;
}

.ReactModal__Overlay--after-open{
  z-index: 999;
  overflow-y: scroll;
}
.ReactModal__Content--after-open{
  width: 70%;
}
/* .ReactModalPortal{
   overflow-y: scroll;
} */
